/* Header
---------------------------------------- */

header {
  height: 100px;
  margin-bottom: 1em;

  .inner {
    @extend .container;
    position: relative;
  }

  .header-logo {
    position: absolute;
    top: 20px;
    width: 70px;
    height: 70px;
    background: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  	 viewBox="0 0 1618 1625.3" style="enable-background:new 0 0 1618 1625.3;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:#A1D3BF;stroke-width:91.532;stroke-miterlimit:10;}.st1{fill:none;stroke:#F4C3AE;stroke-width:4;stroke-miterlimit:10;}.st2{fill:#FFFFFF;}.st3{fill:#A2D3BF;}.st4{fill:#575756;}.st5{fill:#F4C3AE;}.st6{fill:#BDADA2;}.st7{fill:#FFE6A3;}.st8{fill:#FFFFFF;stroke:#000000;stroke-width:1.5034;stroke-miterlimit:10;}</style><g><path class="st0" d="M1324.6,255C1310.7,241.2,1128,53.1,809.3,53.1c-460.5,0-585,779.9,75.3,759.7  		c602.3-18.4,545.7,763.1-78.1,763.2c-212.5,0-370-101.4-379.3-107.2"/>  	<path class="st0" d="M1569,812.8c1.6,419.5-340.1,759.7-759.7,759.7c-419.6,0-759.7-340.1-759.7-759.7  		c0-419.6,340.1-758.4,759.7-759.7C1227.1,51.9,1567.4,392.1,1569,812.8z"/><path class="st0" d="M426.1,1471.4c0-2-0.2-1293.6-0.6-1315.4"/></g></svg>');
  }

  .static-pages {
    position: absolute;
    right: 0;
    top: 45px;
    line-height: 22px;
  }

  .static-pages A {
    margin: 0 5px;
    color: $light-text;
    font-weight: 500;
    margin-bottom: 2px;
  }

  .static-pages A:hover {
    border-bottom: 2px solid darken($light-text, 20%);
    color: darken($light-text, 20%);
    margin-bottom: 0;
  }
}
