/* Header
---------------------------------------- */

header {
  height: 100px;
  margin-bottom: 1em;

  .inner {
    @extend .container;
    position: relative;
  }

  .header-logo {
    position: absolute;
    top: 20px;
    width: 70px;
    height: 70px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" enable-background="new 0 0 100 100"><path fill="#A0D2BE" d="M33 28c-6 14.8.5 25.4 14.6 22.9 1-5 4-44.9 26.7-47.6 10.8-1 16 4.9 15.4 13-1.1 15-19.1 34.7-33.9 39.2-1.9 8.1-5.6 23.7-10.5 30.5-7.4 10.3-20.1 14.6-29.6 7.3-7.6-5.9-6.4-8.9-1.6-14.1 4.7-5.2 3.3 14.5 16.1 12.1s14.8-28 16.5-34.4c-18.7 1.3-28.3-10.8-25-25 1.4-6 9.7-7.4 11.1-6.7 1.4.6.5 2.1.2 2.8zm24.1 20.9c12-3.9 30.5-36.8 20.9-38.8-10.8-2.1-18.3 25.2-20.9 38.8z"/></svg>');
    transition: transform 1s;
  }

  .static-pages {
    position: absolute;
    right: 0;
    top: 45px;
    line-height: 22px;
  }

  .static-pages A {
    margin: 0 5px;
    color: $link;
    font-weight: bold;
    margin-bottom: 2px;
  }

  .static-pages A:hover {
    border-bottom: 2px solid $link;
    margin-bottom: 0;
  }
}
