body {
  background-color: $white;
}

.container {
  @include width(4);
  margin: 0 auto;
}

a {
  color: $link;
  text-decoration: none;
}

a:hover:not(.blog-logo .button) {
  border-bottom: 1px solid $link;
}

img {
  max-width: 100%; 
}

.intro {
  margin-bottom: 4em;
}

.intro p:first-of-type {
  margin-top: 2em;
}

.examples {
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: white;
  
  overflow:auto;
}

.example {
  margin-bottom: 2em;
}

.example-details {
  display: none;
}

a .post-title {
  color: $text;
  margin-top: 2em;
}

.banner {
  background-color: $green;
  color: #fff;
  padding: 10px;
  margin-left: -999px;
  padding-left: 999px;
  margin-top: 1em;
  display: inline;
  padding-right: 1em;
}

.hero {
  background-color: $green;
  color: #fff;
  padding: 3em;
  
  h1 {
    font-weight: 500;
    line-height: 1em;
    margin-bottom: 0;
  }
  
  h2 {
    font-weight: 200;
    font-size: 1.77em;
    opacity: 0.7;
  }
}

.testimonial {
  background-color: $salmon;
  color: #fff;
  padding: 3em;
  
  blockquote {
    margin: 0;

    .client {
      line-height: 1.3em;
      opacity: 0.8;
    }
  }
}