html, body {
  overflow-x: hidden;
}

body {
  background-color: $white;
}

.container {
  @include width(4);
  margin: 0 auto;
  position: relative;
}

.color-section {
  padding-top: 3em;
  padding-bottom: 3em;
}

.full-width {
  @extend .color-section;

  margin-left: -9999px;
  padding-left: 9999px;
  margin-right: -9999px;
  padding-right: 9999px;
}

a {
  color: $link;
  text-decoration: none;
}

a:hover:not(.header-logo .button) {
  border-bottom: 1px solid $link;
}

img {
  max-width: 100%;
}

.banner {
  background-color: $green;
  color: #fff;
  padding: 10px;
  margin-left: -9999px;
  padding-left: 9999px;
  display: inline-block;
  padding-right: 1em;
}

.hero {
  @extend .full-width;

  background-color: $green;
  white-space:nowrap;
  color: #fff;

  h1 {
    font-weight: bold;
    line-height: 1em;
    margin: 0;
  }

  h2 {
    font-weight: normal;
    font-size: 1.8em;
    opacity: 0.7;
    margin: 0;
  }
}

.examples {
  @extend .container;

  padding-top: 2em;
  padding-bottom: 1em;
  background-color: $white;

  .example {
    width: $cols4;
    margin-bottom: 1em;
  }

  .example-details {
    visibility: collapse;
  }
}

.testimonial {
  @extend .full-width;

  background-color: $salmon;
  color: $white;

  blockquote {
    border-left: 0.5em solid rgba($white, 0.8);
    padding-left: 2em;
    margin: 0;

    .quote {
      text-indent: -0.3em;
    }

    .client {
      line-height: 1.3em;
      opacity: 0.8;
    }
  }
}
