html,
body {
  text-rendering: optimizeLegibility;
  color: $text;
  font-weight: 400;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  margin-top: .2rem;
  margin-bottom: .5rem;
  line-height: 1.4;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
}

strong {
  font-weight: bold;
}

a:hover {
  border-bottom: 2px $link;
}

.wf-loading h1, .wf-loading h2, .wf-loading a {
  visibility: hidden;
}

.wf-active body {
  visibility: visible;
  font-family: raleway;
}

.wf-inactive body {
  visibility: visible;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
