<div class="container">
<header>
  <a href="#" class="header-logo" {{action clearFilter}}></a>

  <nav class="static-pages">
    {{#link-to 'contact'}}
      Contact
    {{/link-to}}
  </nav>
</header>

<section class="hero">
  <h1>Rachel Salmon</h1>
  <h2>Graphic Designer</h2>
</section>

{{outlet}}

<footer></footer>
</div>
