<div class="container">
<header>
  <a href="#" class="header-logo" {{action clearFilter}}></a>

  <nav class="static-pages">
    {{#link-to 'contact'}}
      Contact
    {{/link-to}}
  </nav>
</header>

{{outlet}}

<footer></footer>
</div>
