<div class="container">
<header>
  {{#link-to 'application' class="header-logo"}}
    <img src="logo.png" width="70" height="70" alt="Salmon design logo"/>
  {{/link-to}}

  <nav class="static-pages">
    {{#link-to 'contact'}}
      Contact
    {{/link-to}}
  </nav>
</header>

{{outlet}}

<footer></footer>
</div>
