<div class="container">
<header>
  {{#link-to 'application' class="header-logo"}}
  {{/link-to}}

  <nav class="static-pages">
    {{#link-to 'contact'}}
      Contact
    {{/link-to}}
  </nav>
</header>

{{outlet}}

<footer></footer>
</div>
