<p>Salmon Design is something inventive, conscientious and curious. It reflects a passion for people and places, serving them through effective design. Every client is unique and each project is approached with creative intelligence and commercial sensibility.</p>
<p><strong>Don't be shy.</strong> Get in touch and let's work together to make something beautiful. </p>
<p>I'd love to chat with you about your project(s), be it over the phone or over a cuppa. </p>

<h2 class="banner">Design Services</h2>

<p>Branding <br />
Business stationery <br />
Book cover design <br />
Digital Publishing <br />
Exhibition Design <br />
Logos/Identity <br />
Packaging <br />
Print publications <br />
Posters <br />
Web design</p>

<p><strong>email: <a href="mailto:rachel@salmondesign.co">rachel@salmondesign.co</a></strong><br />
<strong>tweet: <a href="https://twitter.com/salmondesign">@salmondesign</a></strong></p>
