<section class="project">
  <p>
    I'd love to chat with you about your project. Let's make something beautiful together!
  </p>
  <p>
    <a href="mailto:rachel@salmondesign.co">rachel@salmondesign.co</a>
  </p>
</section>

<h2 class="banner">What I can do for you</h2>

<p>Logos, identity and branding<br/>
Business stationery<br/>
Book covers<br/>
Digital publishing<br/>
Exhibitions<br/>
Packaging<br/>
Print publications<br/>
Posters<br/>
Web design</p>

<h2 class="banner">About me</h2>

<p>I'm Rachel. I live in Cambridge, England. I studied graphic design at Shillington College in London. I love Italian food and culture, (proper) Cornish pasties and Motown.</p>
