<section class="hero">
  <div class="container">
    <h1>Rachel Salmon</h1>
    <h2>Graphic Designer</h2>
  </div>
</section>

<div class="container">
  {{#each}}
    {{#link-to 'project' this.id}}
      <img {{bind-attr src="covers.230"}} class="thumbnail" />
    {{/link-to}}
  {{/each}}
</div>
