{{image-gallery items=filteredProjects}}

<section class="testimonial">
  <blockquote>
    <p class="quote">&ldquo;Rachel worked closely with me&hellip; Her approach was incredibly professional. She produced a wonderful logo that can be used flexibly. Her fees were competitive and she delivered on schedule. I will definitely work with her again.&rdquo;</p>
    <p class="client">Jane Rich,<br>Cambridge Community Arts</p>
  </blockquote>
</section>

{{get-in-touch}}
